@using PromoCode.Models;


@model PagedList<PromoCode>
@{
}
<p>Всего промокодов: @Model.Count</p>
 <form method="post" collor="#FFFFFF" >
@foreach(var s in Model)
    {
        <p>Имя: @s.name Дата выдачи: @s.dataTimeCreated Статус выдачи: @s.extradition Статус активации:@s.activaton </p>
    }
    
  

</form>

@if (Model.HasPreviousPage())
{
    <a asp-action="Privacy" asp-route-page="@(Model.CurrentPage-1)" asp-route-searchString="@ViewBag.Search">
        <button>
            назад
        </button>
    </a>
}
@if (Model.HasNextPage())
{
    <a asp-action="Privacy" asp-route-page="@(Model.CurrentPage+1)" asp-route-searchString="@ViewBag.Search">
        <button>
            вперед
        </button>
    </a>
}