@using PromoCode.Models;


@model AllCodesRemains
@{
}
<p>Всего промокодов: @Model.all</p>
</br>
<p>Активированных: @Model.activated</p>
</br>
<p>Оплаченные неактивированные: @Model.paidAndInactive</p>
</br>
<p>Выданные неоплаченные: @Model.issuedAndUnpaid</p>
</br>
<p>Невыданны: @Model.unreleased</p>

